@model IEnumerable<TechTrainingTracker.Models.Company.CompanyListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasFreeCourses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasPaidSubscription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSubcriptionRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasApp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasAccreditedCourses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accreditation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasFreeCourses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasPaidSubscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSubcriptionRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasAccreditedCourses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accreditation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CompanyID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CompanyID })

            </td>
        </tr>
    }

</table>
