@model TechTrainingTracker.Models.CertificationDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CertificationDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CertificationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasExam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasExam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CertificationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
