@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tech Training Tracker</h1>
    <p class="lead">So you want to be a software developer. You have to put in the work. Training and certifications. Code, code, code! Using C#, HTML, CSS and JavaScript, I've created this web application to allow you to track potential and ongoing training courses, completed certifications, and the skills (and what level) you have earned. As I continue to grow and learn I will add to this app.</p>
    <p><a href="https://github.com/Stacy-Sanders" class="btn btn-primary btn-lg">Checkout my GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Training Courses</h2>
        <p>Training is vital for developers. Practice an old skill or learn a new skill. Check out your list of training courses. Star your next potential course.</p>
        <p>@Html.ActionLink("View Training Courses", "Index", "Training", null, new { @class = "btn btn-primary btn-large" })</p>
        <p>@Html.ActionLink("Add a New Training Course", "Create", "Training", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>

    <div class="col-md-4">
        <h2>Skills</h2>
        <p>Keep track of the skills you have earned and update your skill level as you continue to improve!</p>
        <p>@Html.ActionLink("Skill List", "Index", "Skill", null, new { @class = "btn btn-primary btn-large" })</p>
        <p>@Html.ActionLink("Add a New Skill", "Create", "Skill", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>

    <div class="col-md-4">
        <h2>CONGRATULATIONS! You've earned a new certification.</h2>
        <p>
            You put in the work. You studied. And now, you passed the test. You earned this. Add your new certification below!
        </p>
        <p>@Html.ActionLink("Add New Certification", "Create", "Certification", null, new { @class = "btn btn-primary btn-large" })</p>
        <p>@Html.ActionLink("View Certifications", "Index", "Certification", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>