@model TechTrainingTracker.Models.Skill.SkillDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Delete Skill?</h3>
<div>
    <h4>SkillDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SkillID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTopTenDesirability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTopTenDesirability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
